.header-bg {

  background-color: #000000;

}

.header {

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;

}

.header-menu {

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;

}

.header-menu a {

  display: inline-block;
  color: #ffffff;
  padding: 12px 5px;
  font-size: 18px;
  border-radius: 4px;
  justify-content: center;
  gap: 0px 10px;
  position: relative;

}

.header-menu a:hover {

  background-color: #2e2e2e;
}

.header-menu a:after {

  content: "";
  display: block;
  background: #ffffff;
  width: 0px;
  height: 2px;
  margin-top: 4px;
  transition: .3s;
  position: absolute;
}

.header-menu a:hover:after {

  width: 87%;
}


@media (max-width: 800px) {

  .header {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .header-menu a {

    background-color: #111111;
    padding: 12px 16px;
    border-radius: 4px;

  }

  .header-menu {

    gap: 20px;

  }

}

@media (max-width: 600px) {


  .header {

    gap: 8px;

  }

  .header-menu a{

    font-size: 1rem;
    background-color: #111111;
    padding: 8px 12px;
    border-radius: 4px;

  }

  .header-menu a:after {

    content: "";
  }

  .header-menu a:hover:after {

    width: 0%;
  }
  

}